* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}

nav ul li a {
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
}

.btn {
  width: 220px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(28, 105, 212, 1);
  color: white;
  border: none;
  font-size: 18px;
}

.dis {
  flex-wrap: wrap;
  width: 100px;
}

#office {
  border: none;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  gap: 40px;
  margin-right: 100px;
}

.icon {
  white-space: nowrap;
}

#aa {
  margin-left: 30px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 8px 15px;
  width: 1000px;
  margin-left: 360px;
  margin-top: -60px;
}

.search-box i {
  color: #555;
  font-size: 16px;
  margin-right: 8px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 15px;
}

.head {
  background-color: white;
}

.energy {
  margin-top: 50px;
  background-image: url(../public/energy.png);
  width: 1400px;
  height: 539px;
}

.left {
  width: 80px;
  height: 80px;
  backdrop-filter: blur(4px);
}

.right {
  width: 80px;
  height: 80px;
  backdrop-filter: blur(8px);
}

.left i {
  color: white;
  font-size: 30px;
  padding: 25px;
}

.right i {
  color: white;
  font-size: 30px;
  padding: 25px;
}

.st {
  display: flex;
  margin-left: 1050px;
}

.btn2 {
  background-color: red;
  color: white;
  border: none;
  width: 108px;
  height: 24px;
  padding: 5px;
  margin-left: 50px;
}

.text h1 {
  color: white;
  font-size: 42px;
  margin-left: 40px;
}

.rt i {
  color: rgba(28, 105, 212, 1);
}

.rt h1 {
  font-size: 20px;
  color: black;
}

.rt {
  display: flex;
}

.en {
  margin-left: 400px;
  margin-top: -200px;
  position: relative;
}

.new {
  color: white;
  font-size: 75px;
  margin-left: 700px;
  margin-top: -380px;
}

.tel1 {
  color: rgba(60, 162, 85, 1);
  border: 2px solid rgba(60, 162, 85, 1);
  background-color: white;
  width: 360px;
  height: 52px;
  font-size: 17px;
}

.cards {
  display: flex;
  gap: 20px;
  position: relative;
  margin-top: 100px;
  margin-left: 20px;
}

.card1,
.card2 {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}


.num {
  color: rgba(34, 34, 34, 0.2);
  margin-right: 10px;
}

.btn3 {
  width: 360px;
  height: 52px;
  border-radius: 4px;
  border-radius: 2px solid rgba(28, 105, 212, 1);
  color: rgba(28, 105, 212, 1);
}

.tx {
  margin-left: 40px;
  margin-top: -30px;
}

.div1 {
  background-image: url(../public/div1.png);
  width: 460px;
  height: 356px;
  padding: 40px;
}

.div2 {
  background-image: url(../public/div2.png);
  width: 950px;
  height: 356px;
  padding: 40px;
}

.reklama {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  color: white;
  margin-bottom: 60px;
}

.btn4 {
  width: 164px;
  height: 50px;
  background-color: rgba(255, 68, 0, 1);
  margin-left: 490px;
  font-size: 20px;
  padding: 15px;
}

.p {
  color: white;
  margin-top: 90px;
  border-bottom: 2px solid white;
  width: 70px;
}

#pp {
  margin-top: 235px;
}

.icon-div {
  background-color: rgba(255, 255, 255, 1);
  width: 30px;
  height: 30px;
  border-radius: 24px;
  padding: 5px;
}
.icon-div i{
  color: rgba(34, 34, 34, 1);
}
.icons{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left: 520px;
}
footer{
  background-color: rgb(242, 238, 238);
  padding-top: 10px;
}